/*FONTS USED*/

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

/*BASIC PAGE LAYOUT*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    display: flex;
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}

/*HEADER TITLE*/

#header {
    align-self: flex-end;
    position: sticky;
    right: 0;
    top: 10px;
    margin-right: 10%;
    margin-top: 3%;
}

#header > #title {
    display: flex;
    justify-content: end;
    font-size: 38px;
    color:#FFB660
}

h1 {
    position: relative;
    outline: none;
    animation: pulsate 1.5s infinite alternate;
}

.title-span {
    color:#89CFF0;
    animation: pulsatespan 1.5s infinite alternate
}

/*CONTAINER FOR ADD TASK AND SHOW TASK*/

#todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

/*ADD TASK SECTION*/

#todo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid #89CFF0;
    border-radius: 5px;
    position: sticky;
    top: 0px;
    width: 40%;
    z-index: 1;
}

#date-time {
    color:#89CFF0;
}

.date {
    width: 30%;
    text-align: center;
}

#todo-input {
    background-color: transparent;
    border: none;
    width: 70%;
    margin-right: 10px;
}

input[type="text"] {
    font-size: 26px;
    color:#89CFF0;
    outline: none;
}

::placeholder {
    opacity: 50%;
    font-size: 20px;
    color:#FFB660;
}

#add-todo {
    padding-right: 20px;
}

#add-todo:hover {
    color: green;
}

/*SHOW TASKS SECTION*/

#show-todo {
    display: flex;
    flex-flow: column-reverse wrap;
    border: 1px solid #89CFF0;
    background-color: rgba(0, 0, 0, .6);
    width: 40%;
    border-radius: 5px;
}

input[type="checkbox"] {
    align-items: center;
    justify-content: center;
    width: 1.5em;
    margin-left: 30px;
    margin-bottom: 10px;
    accent-color: #FFB660;
    cursor: pointer;
    visibility: hidden;
    transform: scale(1.5);
}

input[type="checkbox"]:after,
input[type="checkbox"]::after {
    content: " ";
    display: inline-block;
    padding-bottom: 5px;
    color:#89CFF0;
    width: 10px;
    height: 10px;
    visibility: visible;
    border:1px solid #FFB660;
    padding-left: 3px;
    border-radius: 5px;
}

input[type="checkbox"]:checked:after,
input[type="checkbox"]:checked::after {
    content: "\2714";
    font-weight: bold;
}

input, #check::after {
    display: flex;
}

.todo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1em 0;
}

.todo-container > h3 {
    line-break: normal;
    max-width: 70%;
    padding-bottom: 2%;
    text-shadow: 1px 3px 4px #89CFF0;
}

button, .delete {
    padding-bottom: 12px;
}
.delete {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    align-items: center;
}

/*FOOTER*/

#footer {
    position: fixed;
    font-family: 'Splash', cursive;
    bottom: 0;
    right: 3%;
    height: 4rem;
    text-shadow: 1px 1px 1px;
    color: darkgrey;
}

/*TEXT-SIZING*/

p {
    font-family: 'Splash', cursive;
    font-size: 20px;
}
h2 {
    font-size: 32px;
    color: #FFB660
}

h3 {
    font-size: 26px;
    color: #89CFF0;
}

button {
    color: #FFB660;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background-repeat:no-repeat;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    color: red;
}

img {
    width: 30px;
    height: 30px;
}

/*KEYFRAMES FOR TITLE*/
 
@keyframes pulsate {
    100% {

      text-shadow:
        0 0 4px #FFB660,
        0 0 11px #FFB860,
        0 0 19px #FFB660,
        0 0 40px #FFB660,
        0 0 80px #FFB660,
        0 0 90px #FFB660,
        0 0 100px #FFB660,
        0 0 150px #FFB660;
    }
    0% {
     
      text-shadow:
        0 0 2px #FFB660,
        0 0 4px #FFB660,
        0 0 6px #FFB660,
        0 0 10px #FFB660,
        0 0 45px #FFB660,
        0 0 55px #FFB660,
        0 0 70px #FFB660,
        0 0 80px #FFB660;
    }
  }
  
@keyframes pulsatespan {
    100% {

      text-shadow:
        0 0 4px #89CFF0,
        0 0 11px #89CFF0,
        0 0 19px #89CFF0,
        0 0 40px #89CFF0,
        0 0 80px #89CFF0,
        0 0 90px #89CFF0,
        0 0 100px #89CFF0,
        0 0 150px #89CFF0;
    }
    0% {
     
      text-shadow:
        0 0 2px #89CFF0,
        0 0 4px #89CFF0,
        0 0 6px #89CFF0,
        0 0 10px #89CFF0,
        0 0 45px #89CFF0,
        0 0 55px #89CFF0,
        0 0 70px #89CFF0,
        0 0 80px #89CFF0;
    }
  }